@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    background: $light-black;
    padding: 2rem;

    .row {
        display: flex;
        align-items: center;
    }

    h4 {
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.3rem;
        color: $white;
    }

    i {
        color: $white;
    }
}