@use '../custom' as *;
@use '../components/mixins' as *;


.custom-button {
    font-size: 0.8rem;
    padding: 0.5rem 2.5rem;
    background-color: $white; 
}

.second-button {

    @include media-breakpoint-up(md) {
        margin-left: 1rem;
    }
}
